.container{
    display: flex;
    align-items: center;
    padding: 0.2em;
}

.video {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    margin-bottom: 0.2em;
    cursor: pointer;
    transition: transform 250ms ease-in;
    width: 50%;
}

.video:hover{
    transform: scale(1.02);
}

.thumbnails{
    width: 40%;
}

.title, .channel{
    margin: 0px;
}

.channel{
    font-size: 0.9rem;
}