.item__flex {
  display: flex;
  align-items: flex-start;
}
.item__flex:not(:nth-child(-n + 10)) {
  display: none;
}

.item__flex > .thumbnails__box {
  width: 12.5rem;
}

.item__flex > .thumbnails__box > .thumbnails {
  width: 100%;
}

.item__flex > .metadata {
  width: 14.375rem;
  margin: 0 0.5rem;
  font-size: 0.9375rem;
}

.item__flex > .metadata > .title {
  margin: 0 0 0.6rem 0;
}

.metadata .title {
  display: -webkit-box;
  margin: 10px 0px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.channel {
  font-size: 0.8rem;
  color: #757575;
}

.channel:hover {
  color: #494949;
}

/* ----------------------- */

/* 
.container {
  display: grid;
  list-style: none;
}

.video {
  width: 100%;
  height: 100%;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.thumbnails {
  width: 100%;
  margin-right: 0.3125rem;
}

.container.flex {
  display: flex;
  margin-bottom: 0.3125rem;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.container.flex > .video {
  display: flex;
  align-items: center;
}

.container.flex > .video > .thumbnails {
  width: 56%;
}

.container.search {
  display: grid;
  width: 100%;
}

.video.search {
  display: flex;
}

.video.search > .thumbnails {
  width: 18.75rem;
}

.channel {
  font-size: 0.8rem;
  color: #757575;
}

.channel:hover {
  color: #494949;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2em;
  height: 3.6em;
} 
*/
