h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}

.container {
  display: grid;
  list-style: none;
}

.video {
  width: 100%;
  height: 100%;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnails {
  width: 100%;
  margin-right: 0.3125rem;
}

.container.flex {
  display: flex;
  margin-bottom: 0.3125rem;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.container.flex > .video {
  display: flex;
  align-items: center;
}

.container.flex > .video > .thumbnails {
  width: 57%;
}

.channel {
  font-size: 0.8rem;
  color: #757575;
}

.channel:hover {
  color: #494949;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2em;
  height: 3.6em;
}
