h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}

.container {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(1, 1fr);
}
/* .container {
  padding: 0.2em;
  list-style: none;
} */

/* .container.grid {
    width: 50%;
} */

/* .container.list {
  width: 100%;
} */

.video {
  width: 100%;
  height: 100%;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnails {
  width: 100%;
}

.channel {
  font-size: 0.8rem;
  color: #757575;
}

.channel:hover {
  color: #494949;
}
