.videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem 1rem;
}

.videos:hover {
  cursor: pointer;
}

/*
.videos.videoPlayer {
  margin: 0.2rem 0 0 0.3125rem;
  display: flex;
  flex-flow: column wrap;
}
*/
