/* 해야할 일
  *pc에 맞는 형태를 먼저짜고, 반응형 페이지를 제작한다.
  *js 이벤트를 할때는 display:none;이 flex, block등으로 보이게 만들기  
*/

:root {
  --text-color: #030303;
  --background-color: gray;
  /* --logo-font-style: "Oswald", sans-serif; */
  --information-profile-color: #b4004e;
  --information-notice-color: #606060;
  --search-bar-color: #a8a7a7;
  --search-bar-both-sides-margin: 1.875rem;
}

.header {
  display: inline-flex;
  position: relative;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 4rem;
  margin: 0 var(--search-bar-both-sides-margin);
  color: var(--background-color);
}

.menu {
  display: flex;
  position: relative;
  top: 1.25rem;
  left: 1rem;
}

.menubar {
  display: flex;
  font-size: 1.5rem;
}

.logo {
  display: flex;
  justify-self: self-left;
  align-items: center;
  cursor: pointer;
  color: black;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
}

.logo:hover {
  transform: scale(1.02);
}

.logoImg {
  width: 3rem;
  height: 1.7rem;
  margin-top: 0.4rem;
  padding-right: 0.5rem;
}

.title {
  /* font-family: var(--logo-font-style); */
  letter-spacing: -0.281rem;
  padding-right: 0.5rem;
  margin: 0;
}

.search {
  width: 43.75em;
  display: flex;
  justify-content: center;
}

.input {
  width: 92%;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  outline: 1;
  outline-color: #78909c;
  border: 0.0625rem solid var(--search-bar-color);
}

.button {
  width: 8%;
  color: #fafafa;
  margin: 0;
  border: 0.0625rem solid var(--search-bar-color);
  border-left: none;
  cursor: pointer;
}

.button:hover {
  color: black;
  background-color: #e0e0e0;
}

.searchBtn {
  color: #9e9e9e;
}

.information {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile {
  margin-left: var(--search-bar-both-sides-margin);
  font-size: 2.3rem;
  color: var(--information-profile-color);
}

.notice {
  margin-left: var(--search-bar-both-sides-margin);
  font-size: 1.5rem;
  color: var(--information-notice-color);
}

@media screen and (max-width: 48rem) {
  .title {
    font-size: 1.5rem;
  }

  .logoImg {
    width: 2.5rem;
    height: 1.5rem;
  }

  .input {
    display: none;
  }
  .search {
    display: flex;
    flex-flow: row-reverse;
    width: 40%;
  }
}
