body {
  font-family: "Noto Sans KR", sans-serif;
}

.contents {
  /* max-width: 80rem; */
  padding-top: 7rem;
  display: flex;
  justify-content: center;
}

.detail {
  flex: 1 1 70%;
}

.video__list {
  margin: 0 5.5rem;
  /* flex: 1 1 30%; */
  flex: 1;
}
