body {
  font-family: "Noto Sans KR", sans-serif;
}

.app {
  max-width: 80rem;
}

.content {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
